{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" href= "{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">

</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input 
                    class="create_title"
                    type="text"
                    placeholder="Заголовок книги"
                    name="book_title">
                <input 
                    class="create_subtitle"
                    type="text"
                    placeholder="Подзаголовок книги"
                    name="book_subtitle">
                <input 
                    class="create_discription"
                    type="text"
                    placeholder="Описание книги"
                    name="book_discription">
                <input 
                    class="create_price"
                    type="text"
                    placeholder="Цена книги"
                    name="book_price">
                <input 
                    class="create_genre"
                    type="text"
                    placeholder="Жанр книги"
                    name="book_genre">
                <input 
                    class="create_author"
                    type="text"
                    placeholder="Автор книги"
                    name="book_author">
                <input 
                    class="create_year"
                    type="text"
                    placeholder="год"
                    name="book_year"><br>
                <button class="create_button">Добавить</button>
            </form>
        </div>
        {% for bookstore in book_list %}

        <div class="todo_item">
            <div class="todo_item_header">
                <h4>{{ bookstore.title }}</h4>
            </div>
            <div class="todo_item_footer">
                <p>{{ bookstore.author }}</p>
                <h2>{{ bookstore.price }}</h2>
            </div>
        </div>

        {% endfor %}
    </section>
</body>
</html>